{% extends 'instagram/layout.html' %} 
{% load bootstrap4 %} 
{% block title%}
post list
{% endblock title %} 
{% block content %}
<form action="" method="GET">
  <input type="text" name="q" value="{{q}}" />
  <input type="submit" value="search" />
</form>
<div class="d-grid gap-2">
  <a
    href="{% url 'instagram:post_new' %}"
    class="btn btn-primary btn-block mt-3 mb-3"
    >새 포스팅</a
  >
</div>
<table class="table table-bordered table-hover">
  {% for post in post_list %}
  <tr>
    <td>{{post.pk}}</td>
    <td>
      <a
        href="
              {% comment %} {% url 'instagram:post_detail' post.pk %} {% endcomment %}
              {{post.get_absolute_url}}
            "
      >
        {{post.message}}
      </a>
    </td>
    <td>
      {% if post.photo%}
      <img src="{{post.photo.url}}" alt="{{post.photo}}" style="width: 100px" />
      {% else %} 
      no photo 
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{{is_paginated}} {{page_obj}} 
{% if is_paginated %} 
{% bootstrap_pagination page_obj size='small' justify_content='center' %} 
{% endif %} 
{% endblock content %}
