<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>instagram / post list</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      m
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2>author:{{post.author}}</h2>
    {% if post.photo %}
    <div>
      <img style="width: 100px" src="{{post.photo.url}}" alt="{{post.photo}}" />
    </div>
    {% endif %} {{post.message}}
  </body>
</html>
